[Unit]
Description=EVE-Netboot-Installer appliance console (setup and status on tty1)
After=systemd-user-sessions.service plymouth-quit-wait.service
Conflicts=getty@tty1.service

[Service]
ExecStart=/usr/local/sbin/eve-netboot console
StandardInput=tty
StandardOutput=tty
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
Environment=TERM=linux
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
